<div class="heading" style="margin-top: 3em">
    <h1>{{include.project_title}}</h1>
    {%if include.project_overview%}
    <h3 style="width: 40ch; margin: auto; font-weight: normal">
        {{include.project_overview}}
    </h3>
    {%endif%}
</div>
<div class="col-4">
    {%assign overview_aspects=include.overview_aspects | split: ","%}
    {%assign overview_explanations = include.overview_explanations | split: ","%}
    {%assign range_bound=overview_aspects.size | minus: 1%}
    {%for i in (0..range_bound)%}
    <div>
        {{overview_aspects[i]}}
        <linebreak style="margin-top: .5em; margin-bottom: .5em;"></linebreak>
        {{overview_explanations[i]}}
    </div>
    {%endfor%}
</div>